<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAS5WLSCvRmuoFy9mIpfU_1F609nd-Ku0&callback=initMap">
        </script>
    <title>Map Test</title>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
</head>

<body>
    <h1>This is my Map!</h1>
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({ address: "Mercer Island" }, function (results, status) {
                if (status == 'OK') {
                    const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: results[0].geometry.location,
            });
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
            geocoder = new google.maps.Geocoder();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>