<body>
    <!-- figure out how to show error messages -->
    {% if messages %}
    <ul class="messages" style="list-style-type: none;">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags}}"{% endif %} style="color: red;">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="" action="/register" method="post">
        {% csrf_token %}
        {{ myregistrationform.as_p }}
        <input type="submit" value="Register!">
    </form>
</body>