<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>
<body>

    <div class="container">
        <div class="row mb-4">
            <div class="col-1">
                Your Gold:
            </div>
            <div class="col-4">
                {{request.session.gold_total}}
            </div>
        </div>
        <div class="row mb-5">
            <form class="path col-3" action="/process-money" method="POST">
                {% csrf_token %}
                <h5>Farm</h5>
                <input type="hidden" name="farm" value="farm">
                <p>(earns 10-20 gold)</p>
                <button class="btn btn-secondary">Find Gold!</button>
            </form>
            <form class="path col-3" action="/process-money" method="POST">
                {% csrf_token %}
                <h5>Cave</h5>
                <input type="hidden" name="cave" value="cave">
                <p>(earns 5-10 gold)</p>
                <button class="btn btn-secondary">Find Gold!</button>
            </form>
            <form class="path col-3" action="/process-money" method="POST">
                {% csrf_token %}
                <h5>House</h5>
                <input type="hidden" name="house" value="house">
                <p>(earns 2-5 gold)</p>
                <button class="btn btn-secondary">Find Gold!</button>
            </form>
            <form class="path col-3" action="/process-money" method="POST">
                {% csrf_token %}
                <h5>Casino</h5>
                <input type="hidden" name="casino" value="casino">
                <p>(earns/takes 10-50 gold)</p>
                <button class="btn btn-secondary">Find Gold!</button>
            </form>
        </div>
        <p>Activities:</p>
        <div class="row" style="height: 150px;">
            <div class="overflow-auto col h-100">
                {% for line in request.session.history %}
                <p>{{line}}</p>
                {% endfor %}
            </div>
        </div>
        <form action="reset">
            <button class="btn btn-danger mt-4">Reset</button>
        </form>
    </div>
</body>
</html>